<form>
  <mat-card >
    <mat-card-title>
      Cadastro de Usuário
    </mat-card-title>
    <mat-card-content fxLayout="row" fxLayoutGap="1rem">
      <div fxLayout="colum" fxLayoutGap="1rem" >
        <mat-form-field fxFlex>
            <input matInput placeholder="Nome" >
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput type="email" placeholder="E-mail" >
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput type="password" placeholder="Senha" >
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Salvar</button>
    </mat-card-actions>
  </mat-card>
</form>